[2018-05-16 19:01] yondonfu opened #4 "Transcoder withdrawal address"
At the moment, transcoders use a single address for the following purposes:
- As the on-chain identifier for the transcoder
- The associated private key signs transactions to invoke contract functions such as `BondingManager.reward()`, JobsManager.claimWork()` and `JobsManger.verify()` that validate that the sender address is the transcoder's identifying address
- As the withdrawal address for any

[2018-05-16 19:58] dob commented on #4
Related concept: is there any merit in the "cold" address (withdrawl address), being able to submit a tx which replaces the "hot" address? The reason is that the hot address could be easily compromised...but if so then maybe only short term damage could be done if replaced quickly.

Don't want to derail the discussion around the above, but I guess this issue is a place for discussion before actual

[2018-05-16 21:33] j0sh commented on #4
I like it.

Another note about overloading `BondingManager.transcoder()` . We might end up putting additional fields in there as well, eg a URI . Does this mean we should have a separate setter function for each field? Or is a more generalized approach possible without increasing gas too much?

[2018-05-20 19:46] dob opened #5 "Enable Partial Unbonding"
LIP: <to be assigned>
    Title: Enable Partial Unbonding
    Author: Doug Petkanics (@dob)
    Type: Standard Track
    Status: Draft
    Created: 2018-05-20

## Abstract

The `BondingManager` contract currently exposes an `unbond()` function which places the calling delegator into the `Unbonding` state, and subtracts **all** of their delegated stake from the transcoder. This proposal aims to all

[2018-05-21 22:42] yondonfu opened #6 "Transcoder metadata registry"
There are a few benefits from enabling a transcoder to publish additional metadata about itself on-chain besides its reward cut, fee share and price per segment:
- A transcoder can advertise a human-readable name that delegators can reference instead of an ETH address. Client side tools can be used under the hood to resolve these human-readable names back to their corresponding ETH addresses
- A t

[2018-05-22 05:51] j0sh opened #7 "Transcoder Approved Address Lists"
A thought came up when working on the TLS proposal and reviewing https://github.com/livepeer/LIPs/issues/4.

TLS root certificates are meant to be kept offline and safely under lock-and-key, while day-to-day work is done with intermediate certs. Less handling is required of the root cert, which minimizes the space of things that could compromise the keys. The ability to rotate, revoke and issue ne

[2018-05-22 19:18] dob commented on #6
Definitely in favor of the transcoder metadata living within a separate registry on chain rather than in the BondingManager itself. And yes, the reverse resolution is going to be more immediately important than the name -> address resolution which wouldn't have any immediate use outside of wallets right now, which is a little peripheral to Livepeer protocol itself.

The decision of conforming to E

[2018-05-22 19:30] dob commented on #7
Yes, this is the concept I was getting at with the "hot key / cold key" revocation process in #4. I think the next step here would be for an actual proposal of the protocol changes required to support the authorized accounts concept.

One of the challenges is that the transaction `sender` is no longer going to be identifiable as a transcoder/delegator directly, and instead we will have to do a loo

[2018-05-22 20:58] yondonfu commented on #5
Here are some notes and additional thoughts from an offline discussion.

I'd be in favor of using a different name for the struct - in the interest of clarity and to make terminology clearer in discussions, maybe the name should be a noun such as `UnbondingLock` (or maybe even just `Lock`?). Once `currentRound <= withdrawRound` for a given unbonding lock, the lock is unlocked and can be used to wi

[2018-05-22 21:10] dob commented on #5
I think it's when `currentRound >= withdrawRound` that the lock gets unlocked.

I wonder if a delegator should be `Unbonded` when it has 0 delegated stake, even if it has one or many Unbonding Locks? I wouldn't want the protocol to have to loop over every single unbonding lock to determine if the delegator is unbonded or not. And I actually don't think it matters whether they have any locks or not

[2018-05-22 21:22] yondonfu commented on #5
Yep - fixed.

Yeah I think the original state transition logic I described was wrong. Updated the description.

[2018-05-22 21:57] yondonfu commented on #7
One possible way to achieve is the concept of a validation address which is borrowed from [Casper FFG](https://github.com/ethereum/casper/blob/master/VALIDATOR_GUIDE.md#validation-code). When a transcoder first registers it could provide the address of its validation contract which can implement whatever validation scheme that the transcoder desires.

Each protected function that is meant to be in

[2018-05-23 19:00] j0sh commented on #7
Interesting, so the basic idea is that the transcoder has the option to provide a validation contract that would allow them to define their own authentication logic? The flexibility seems cool, but also feels like we're giving the transcoder access to a particularly potent footgun. Assuming we run with a laissez-faire approach...

What would the benefit of this be, in Livepeer's case? I can see th

[2018-05-23 21:10] yondonfu commented on #7
Yeah so I imagine that there could be a number of default contracts that the transcoder could deploy if it does not want any further customization. For example, the simplest default where the contract just checks if the signature validates for a single designated address would look something like:

[code]

If the transcoder wanted to be able to designate different addresses for different message t

[2018-05-30 22:19] yondonfu commented on #6
If we went that route - yeah.

I believe the potential migration would only apply to users that own names under the top-level `.eth` domain because the rules for owning/purchasing under that top-level domain are currently dictated by the initial registrar. So, the owner of `transcoder.eth` could potentially be affected. However, I think any users that register names under the `transcoder.eth` doma

[2018-05-31 18:28] yondonfu commented on #6
Formalized proposal created in #9 Any additional feedback encouraged to take place there!

[2018-06-04 22:10] yondonfu opened #10 "Delegator slashing"
At the moment, when a transcoder [faults](https://github.com/livepeer/wiki/blob/master/SPEC.md#faults), the transcoder is slashed, but its delegators are not. We can create a stronger incentive for delegators to delegate toward quality transcoders that do not fault (whether it be purposefully or accidental due to a client malfunction) by also applying slashing penalties to a transcoder's delegator

[2018-06-12 00:10] j0sh commented on #10
Currently, one way for transcoders to avoid the effects of slashing is to transfer its LPT to another account (say an offline wallet), then delegate the entire amount. Arguably that's better opsec, but still a loophole in the protocol, which this proposal fixes.

I'm a little undecided on whether I like the idea of penalizing delegators for the sins of the transcoder. Perhaps, instead of a slashin

[2018-06-12 20:42] yondonfu commented on #10
IMO the main reasons for slashing delegators are:
- Encourage better judgement around deciding who to delegate to because humans are generally more loss averse. I think delegators would be more likely to take action in an effort to avoid loss of their already owned LPT due to the [endowment effect](https://en.wikipedia.org/wiki/Endowment_effect), more so than if they instead only stood to receive

[2018-06-12 20:58] yondonfu commented on #6
Merged proposal in #9

[2018-06-12 20:58] #6 closed

[2018-06-20 20:56] yondonfu commented on #10
Some additional details following up on the original comment:

[code]

`T.slashedPercInRound[N]` is the slashed % incurred by the transcoder `T` due to a fault in round `N`. If this value is 0 then the transcoder was not slashed during round `N`.

`D.lastSlashedRound` is the last round that the delegator `D` had a slashing penalty applied to it.

When a transcoder is slashed, its total delegated s

[2018-06-21 18:56] dob commented on #10
Delegators are ˆsomewhatˆ protected from continuously getting slashed because the transcoder becomes inactivated for the round that they are slashed in. So they wouldn't get continuously slashed down to zero. AND, if we get the software and automation right, no one should ever be slashed under the current conditions unless they are doing something actively malicious.

I think the beginning of this

[2018-06-26 21:40] yondonfu commented on #10
One of the flaws in this proposed solution is that delegators are slashed based on the round during which evidence of a fault is submitted. As a result, delegators can be penalized for a transcoder's faults in the past (during a time that the delegator was not even delegating stake toward the transcoder) that are not surfaced until the present or in the future.

Instead, delegators should be slash

[2018-06-27 14:02] dob commented on #10
Does this get complicated if the delegator has already claimed rewards in the round for which they are later slashed? Or is the slashing independent of the claim accounting?

[2018-06-27 15:44] yondonfu commented on #10
I imagine that a delegator would be slashed for a round in the past during which its transcoder committed a fault based on how much stake it currently has (including accumulated rewards) in the round that the evidence for the fault was submitted. The slashing penalty could also be calculated based on the stake that the delegator had during the round of the fault and then subtracted from the stake

[2018-06-27 17:06] yondonfu commented on #5
Closed by #8

[2018-06-27 17:06] #5 closed

[2018-07-16 18:16] yondonfu commented on #10
Linking to a comment made in #8 to make sure we keep track of the fact slashing mechanism updates will also need to address any attack vectors presented by partial unbonding:

There is no enforcement of slashing penalties on the unbonding locks in this proposal. This is fine for delegators because delegator slashing is not enforced yet. However, this means transcoders can reduce their slashable st

[2018-08-23 22:04] yondonfu opened #13 "Broadcaster designated signers"
This post seeks to bring attention to this older [issue](https://github.com/livepeer/protocol/issues/203) proposing separation of the job creator and the segment signer roles for a broadcaster. The proposal was not implemented at the time due to time sensitivity relating to the initial launch of the network.

The basic idea of the proposal is as follows:

Currently, broadcasters are identified by

[2018-08-28 00:47] j0sh opened #14 "Multi-Node Support"
## Summary

Multi-node setups can introduce complex operational overhead, and currently poses a substantial slashing risk for incorrectly configured orchestrators. A few changes to the protocol can facilitate the use of multi-node orchestrator setups. Primarily, this involves incorporating an orchestrator-selected token into the broadcaster's segment signature, and the claims/verification changes

[2018-08-28 00:48] j0sh commented on #13
Agreed that it'd be very useful to separate the job creator and segment signer. For the proposed change:

```sign(H(jobId, streamId, segNo, dataHash))```

Do we still need streamId here, since that can be derived from the `jobId`?

Also, since the `jobId`/`streamId` seems to be mostly benefit the transcoder's own checking (ensuring the submitted segment is associated with a legitimate job), perhap

[2018-11-07 22:54] eladmallel commented on #13
This is a fantastic idea. I think many B operators who are security-aware won't feel comfortable securing significant value using the same hot key they need for job signing. IMO this improvement is needed for adoption at scale.

What's the right process for discussing this issue's priority and best time to implement?

@yondonfu @ericxtang

[2018-11-07 23:18] yondonfu commented on #13
Agreed. While this proposal was originally written for the V1 protocol, this separation of responsibilities for keys can apply for any payment protocol that involves on-chain deposits and signing of off-chain messages. I would propose incorporating this into Streamflow.

[2018-11-08 16:12] eladmallel commented on #13
@yondonfu thanks! @ericxtang would love to get your take on this!

[2020-03-23 19:42] yondonfu opened #15 "LIP process polling related updates"
## Abstract

This proposal contains updates to the LIP process described in [LIP-1](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-1.md) that incorporate the use of a polling application to determine whether a LIP is accepted or rejected.

## Motivation

The motivation for these updates is to establish the LIP process as a pre-processing step for proposals prior to the creation of a poll ab

[2020-03-23 21:06] dob commented on #15
### State Change Conditions

I presume that PR's must be submitted in order to move something from **Draft** -> **Last Call** -> **Proposed**. I think the trigger for an editor accepting the move from **Last Call** to **Proposed** status could be that the last call time period has elapsed. But what is the trigger that an editor will use to decide whether to merge the PR from **Draft** -> **Last Ca

[2020-03-23 21:53] yondonfu commented on #15
Yeah the champion can open a PR, but the LIP editor is responsible for assessing whether all concerns have been addressed prior to approving and merging the PR to assign the Last Call status to the LIP.

Agreed that the Last Call period does not need to be longer than the poll period. If the suggested poll period is ~10 days then I'm fine with suggesting the Last Call period to be 10 days as well.

[2020-03-24 18:05] yondonfu opened #16 "Polling system for LIPs"
## Abstract

This proposal outlines a polling system that tokenholders can use to decide whether to accept or reject the adoption of a LIP. The polling system is based on an a set of on-chain contracts used for non-binding voting and an off-chain indexer used for vote tallying.

## Motivation

The goal of the polling system is to give tokenholders a way to voice their opinions on LIPs as an initia

[2020-03-24 18:46] dob commented on #15
Sounds good on the editorial process and Last Call period. With regards to the batched LIPs, it directionally sounds right. I wonder about the last point:

I just worry a little bit about the notion of the individual LIP's being polled, when they are really intended to be executed together as a batch. At the same time, I wouldn't want to take them all back to draft or last call, as they've already

[2020-03-24 19:14] yondonfu commented on #15
One thought is that each LIP could also have an optional "Protocol Upgrade" field in the header preamble. If an LIP is intended to be considered as a part of a batch for a protocol upgrade, the creator(s) could specify a name in the "Protocol Upgrade" field to convey to the public that there will be an umbrella LIP for the protocol upgrade. If the umbrella LIP is rejected and there is a desire to

[2020-03-25 06:58] nelsorya commented on #16
To clarify, for the voting % thresholds when referring to "active stake" are we talking about total staked LPT?

My initial thoughts on the parameters:

Quorum 20% - I think 20% makes sense initially, however, if we are going off % total staked LPT some of the top orchestrators have between 10%-15% of staked LPT, so it's a very low bar for Quorum.

Threshold 50% - this number seems reasonable to m

[2020-03-25 14:11] kyriediculous commented on #16
I think it might be too low.

The top 5 staked orchestrators currently own 50% of the total active stake.
We don't know how much of that stake is delegated but I think we can also assume that delegates will be less likely to participate in governance than orchestrators.

We are also talking about _active_ stake so those are users already actively participating in the protocol in varying frequencie

[2020-03-25 20:38] dob commented on #16
I like the eventual goal of having orchestrators be mandated to participate in governance. I was thinking that they could be slashed some small % of stake if they fail to participate, though perhaps your suggestion of them being temporarily ineligible for fees or rewards makes sense. Probably better if it's forfeiture of inflationary LPT rewards than fees, because fees incentivize them to actually

[2020-03-25 20:40] dob commented on #16
Yes, we are talking about staked LPT. So a 20% quorum would be 20% of the total actively staked LPT. not 20% of the total outstanding LPT.

[2020-03-25 21:27] kyriediculous commented on #16
I think there's two separate discussions here.

- voting obligation vs voting right
- incentivising wanted behaviour vs penalising unwanted behaviour

I think it's a little out of scope for this LIP but perhaps interesting material for a governance call, since we already have different opinions this could only lead to a very interesting discussion.

[2020-03-26 16:08] yondonfu commented on #16
In the OP, I intended the term *active stake* to refer to stake that is delegated to *active orchestrators*. Recall that:

- An active orchestrator is defined as an orchestrator that is in the active set in the current round which is set at the beginning of each round and that the active set consists of the top 100 (the current cap) orchestrators with the most stake on the network
- If an active o

[2020-03-27 00:17] kyriediculous commented on #16
I like the overall arguments presented above but would like to point out a few concerns with considering the total supply

- Custodial services such as centralised exchanges can swing the pendulum (eg. Recent Steemit governance debacle)
- Total supply considerably increases the attack surface for "flash" attacks without further additions such as conviction voting.
- Still need to consider changes

[2020-03-27 00:32] yondonfu commented on #16
When you say "considering total supply" here, do you mean giving voting power to all LPT and not just staked LPT?

If so, in my suggestion voting power would still only be given to staked LPT, but it would be given to both active staked LPT (i.e. delegated to orchestrators in the active set) and inactive staked LPT (i.e. delegated to orchestrators not in the active set).

If not, could you elabora

[2020-03-27 20:19] dob commented on #16
Even though this is certainly a concern for what people interpret the intermediate status of the poll to be, I think it's solved by the hard-and-fast rule that only the final state at the end block matters. Intermediate status just gives people a view into what's happening with the voting.

[2020-04-06 10:02] chrishobcroft commented on #16
My comments rely largely around the **definition** of `QUORUM`, and the **proposed initial value**.

## Definition of `QUORUM`.

The definition used above is perhaps an over-simplification, and perhaps also misses an opportunity to learn from projects focused on governance:

First, it isn't clear what "active" means specifically in this case. I would appreciate some clarification on this.

Second,

[2020-04-06 19:21] dob commented on #16
Good point. This was updated in the merged [draft LIP](https://github.com/livepeer/LIPs/issues/16) to be more clear: "The minimum percentage of stake that needs to vote in a poll in order for the poll result to be considered valid."

It no longer applies to only "active" stake, but instead to any staked LPT even if it is delegated towards a non-active orchestrator. This means you need to be commit

[2020-04-07 00:12] yondonfu commented on #15
A draft LIP has been created [here](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-15.md).

Updates in this draft LIP from the original proposal:

- Added a line about incorporating the changes in this LIP into LIP-1 if it is accepted
- Added a line about the role of the LIP editor when assigning the Last Call status
- Added a section about bundling LIPs
    - Use a **Part-Of** field instea

[2020-04-07 00:15] yondonfu commented on #16
Just to make sure that everyone is aware of the updates to the original proposal in the recently created [draft LIP](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-16.md):

- Updated the quorum to 33.33%
- Noted that voting power is given to all staked LPT (includes both active and inactive staked LPT)
- Clarified the requirement for the final poll tally of a poll (outlines the result that

[2020-04-08 17:32] criticaltv commented on #16
So, `QUORUM` will be 33.33 and `THRESHOLD` 50%. Right?

So, to begin it can be possible for a motion to be passed with e.g.

- 16.67% saying YES and 16.66% saying NO
- 25% saying YES and 8.33% saying NO
- 33.32% saying YES and 0.01% saying NO

But a motion would **not** pass if:

- 16.67% saying YES and 16.6**5**% saying NO
- 25% saying YES and 8.3**2**% saying NO
- 33.32% saying YES and 0.0**0**%

[2020-04-08 20:07] dob commented on #16
That interpretation is correct according to the outlined definitions and criteria.

So now I think I understand the counter proposal better. Perhaps I was caught up on the 50% number more-so than the spirit: using 33% as the `Quorum` under the adjusted definition, and 50% as the `Threshold` would mean that any vote that reached 33% yes votes, without being outweighed by no votes, would pass - whet

[2020-04-10 19:31] yondonfu commented on #16
I lean towards keeping the current definition of quorum as:

"The minimum percentage of stake that needs to vote in a poll in order for the poll result to be considered valid"

because it matches the [standard definition](https://www.merriam-webster.com/dictionary/quorum) of quorum in a business/governance context [1].

[1] This [comment](https://github.com/aragon/aragon-apps/issues/49#issuecommen

[2020-04-10 20:44] kyriediculous commented on #16
I feel like the current definition is most in line with how it is defined in dictionaries (ie voter turnout).

Generally speaking I think if there's standard definitions for terminologies we should stick to those definitions. Otherwise it will make discussing this topic harder as new entrants first need to understand the definitions used.

[2020-04-11 00:15] gavinly commented on #16
Cosmos Hub has a 'no-with-veto' option. This enables 33.4% of participating voting power to fail a proposal, even if more than 50% approve. I think the idea is to prevent a tyranny of the majority and the ability to express a strong preference against a proposal. [For reference, see these criteria](https://github.com/gavinly/CosmosParametersWiki/blob/master/voting.md#what-determines-whether-or-not

[2020-04-13 14:01] dob commented on #16
@gavinly on "no-with-veto" and "adaptive quorum biasing"...

These both sounds like really useful ideas in theory, but also as you point out, raise the complexity and barriers to understanding how governance works initially. Especially getting the AQB params right and being able to project whether something will pass or not based on current voting patterns.

Maybe taking the no-with-veto independe

[2020-04-13 15:16] gavinly commented on #16
I like the idea of the polling process having an element of community design, however, I'm skeptical that a seemingly-minor addition like a 'no-with-veto' option would attract more then 33% of the LPT supply for poll participation. Thoughts?

[2020-04-13 16:10] dob commented on #16
Good question. It's really hard for me to predict whether it will be difficult or easy to get 33% for a small change like this. On the "it would be easy" side, is the recognition that it only takes a few of the active orchestrators who carry a lot of stake weight to participate, and there aren't likely to be THAT MANY active polls to overwhelm anyone. On the "it would be difficult side", if this d

[2020-04-13 19:06] gavinly commented on #16
Brainstorming here, so feel free to ignore.

**TL;DR**
1. Reduce inflationary rewards temporarily for non-voting orchestrators to increase the likelihood of voting participation.
2. Have a kind of 'spam' vote option to use if a voter thinks that a poll is spam.

### Opportunity cost for failing to vote
What if the inflationary rewards of an orchestrator were a factor of poll participation? Heavy q

[2020-04-13 19:08] gavinly commented on #16
Without a built-in (dis)incentive mechanism, I think stakeholders would have to be targeted individually to participate so there isn't a bystander effect. I think that this sort of relationship lends itself to becoming a power broker.

[2020-04-14 16:34] yondonfu commented on #16
@gavinly

One way to try to improve the chances of quorum being reached could be to propose a "no-with-veto" option with other governance changes/improvements either in the same LIP or in multiple LIPs that are bundled into a parent LIP. [LIP-15](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-15.md) notes that LIPs can be a part of a parent LIP so that a poll for the parent LIP considers al

[2020-04-14 18:06] criticaltv commented on #16
So, let's say we stick with the "standard definition of quorum in a business/governance context" per @yondonfu suggestion.

And let's say we start that at the arbitrary number of 33.33%, and see how things go. This means that 16.67% (i.e. a couple of Livepeer whales) can carry a motion, assuming 16.66% also turn up and oppose it.

Now, if we are ever minded to tighten things up, to "raise the bar"

[2020-04-15 05:56] nelsorya commented on #16
Lots of interesting ideas being discussed here and I'd love to talk through and expand on some of these on the next community topic call.

As for the core Quorum Parameter decision I agree with QUORUM of 33.33% and THRESHOLD of 50% initially. I think then as everyone gets comfortable with the LIP process we can gradually increase to 50% over time

[2020-04-15 14:28] kyriediculous commented on #16
My issue with the current values of the quorum (or definition if you look at it from @chrishobcroft 's  perspective) is that a vote with more no votes than yes votes can still be considered passing while there is a clear signal that it shouldn't have.

This is due to the fact that `THRESHOLD` only accounts for "yes" votes.

in a poll in order for the poll result to be considered a signal to accept

[2020-04-15 14:31] criticaltv commented on #16
How so? @kyriediculous

[2020-04-15 14:39] kyriediculous commented on #16
Based on the current definitions the amount of votes against is not taken into account.
Given the current values one only needs 16.65% of stake to vote yes, but the remaining 83.35% can still vote no.

[2020-04-15 14:46] criticaltv commented on #16
I don't think that's right, @kyriediculous

[2020-04-15 14:56] kyriediculous commented on #16
Yes it is because it is decided by a definition within a social construct and not protocol rules. If the current definition is followed to the letter then no votes should not be taken into account as long as there is an adequate amount of stake voting yes.

Is this sensible to conclude that this is a passing vote? No but we should update the definition to accommodate that and rule out any possible

[2020-04-15 15:09] dob commented on #16
I don't think a minority <50% threshold value would be likely to be enacted or make much sense, but I could see the threshold value being higher than 50%. For example 66%, indicating that at least 2/3rds of the votes were in favor (and therefore 1/3rd of the votes could veto). Not suggesting this, but just pointing out the example of where alternate threshold values could be considered.

In realit

[2020-04-15 15:17] kyriediculous commented on #16
Totally agree,  but in theory a quorum of 34% and threshhold of 50.1% yes votes would constitute a passing vote despite only 17% of total staked LPT actually voicing support.  Should we act on such results or ignore them?

If we decide within social rules to not act upon these close call results then it doesn't make sense to have a mechanism that even allows these votes to pass in the first place

[2020-04-15 15:22] dob commented on #16
We would act on them, because they passed both the quorum of 1/3rd and the
threshold of 50% majority.

On Wed, Apr 15, 2020 at 11:18 AM Nico Vergauwen <notifications@github.com>
wrote:

[2020-04-15 15:23] kyriediculous commented on #16
If we should act on those then I don't think we should ever put a quorum lower than 50%

The system should be allowed to be hijacked by 4 orchestrators.

[2020-04-15 17:16] dob commented on #16
Hmm, do you really think "Hijacked" is the right way to describe the
scenario where only the top 5 orchestrators vote on a contentious proposal
resulting in a 17%-16% split? If the results of a poll look like they're
shaping up like that, then the entire community (including the other 95
active orchestrators) have the ability to weigh in, and it doesn't take
much to swing it from a yes to a no. Es

[2020-04-16 06:21] criticaltv commented on #16
@dob based on current proposed metrics, a vote can be passed with 17% vs. 16%. This means that it's technically possible for 2 individuals who together have >17% of active tokens to vote YES and get a motion through (assuming that it isn't contentious enough that more stake votes NO).

[2020-04-16 06:30] criticaltv commented on #16
The more I look at it, the more I think we should:

1. Use "Minimum Acceptance Quorum" as the construct to determine whether there has been sufficient participation for a vote to pass.

This puts the focus very much on promoting positive change.

2. Set this "minimum acceptance quorum" = 50%
- "threshold" = 50%

This way, it's in everyone's interests to engage owners of voting stake to support cha

[2020-04-16 07:31] criticaltv commented on #16
I agree with @kyriediculous.

However unlikely it might be, merely the technical possibility that 16.67% of all voting weight could pass a motion is too prone to hi-jack by a minority. This is especially true, given the known concentration of stake delegated by a few (e.g. 2) individuals, and delegated to a few (e.g. 5) orchestrators.

For me, the proposed construct, using the "traditional" concep

[2020-04-16 08:18] criticaltv commented on #16
I agree with @kyriediculous.

However unlikely it might be, merely the technical possibility that 16.67% of all voting weight could pass a motion is too prone to hi-jack by a minority.

This is especially true, given the known concentration of stake delegated by a few (e.g. 2) individuals, and delegated to a few (e.g. 5) orchestrators.

[2020-04-16 08:23] criticaltv commented on #16
For me, the nub of this is whether to use pre-existing constructs for

- _corporate_ governance, or
- _distributed systems_ governance.

I think we're building a distributed system here, not a corporation.

Specifically, for me, the proposed construct, using the "traditional" concept of a quorum, and using the proposed initial figures, is:

- **too prone to hi-jack** by small groups of individuals

[2020-04-16 11:05] kyriediculous commented on #16
I think "hijacking" is definitely the right term (It's equivalent shareholder proxy fight) and I wouldn't even call it very unlikely. Here's why I think that is:

1. The top 5 orchestrators own more than 35% of delegated stake (no one knows how much of that is really delegated)
2. Delegators are less likely to participate in governance if they are already not very actively participating in the pro

[2020-04-16 19:30] yondonfu commented on #16
#24 updates the spec in the LIP such that the poll contract accepts a choiceID when a vote is submitted with the valid list of choiceIDs defined by the off-chain indexer. This update makes it easier for additional voting choices to be added in the future if needed without requiring a contract update.

(Will follow up with my thoughts regarding quorum separately).

[2020-04-20 18:24] jbrukh commented on #16
Just a few comments, none of which I feel super strongly about:

- The quorum structures and language is always really confusing and nuanced across systems. It is hard to grasp even for researchers and implementors, so I recommend we make this as simple as possible to communicate. For what it's worth, the totally traditional nomenclature we find in the theory of social choice/voting is that `quoru

[2020-04-20 21:36] js0n commented on #16
Random question: if slashing is being considered as part of this extension to the protocol, what's an appropriate way to deal with poll creators spamming the protocol with polls which carry the threat of slashing or some kind of non-participation penalty?

Non-participatory penalties ostensibly incentivizes orchestrators to automate participation.

In absence of an abstain option, is there any con

[2020-04-20 21:36] yondonfu commented on #16
**Note: The following is an editorial comment**

Given that there is still some ongoing debate in this discussion thread, the Last Call period for [LIP-16](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-16.md) will be extended for **1 week**.

[2020-04-20 22:20] yondonfu commented on #16
While there are a couple of suggestions for improvements to the polling system that are worth discussing separately, I believe the current disagreement in this thread centers largely around the following issues:

- Requiring a quorum or requiring a minimum acceptance quorum
    - Quorum = the minimum percentage of stake that needs to vote in a poll in order for the poll result to be valid
    - Mi

[2020-04-21 00:59] dob commented on #16
With regards to the initial parameter value of quorum, the current proposal is 33% but there are clear points above from multiple people who have expressed that they wish to see a minimum quorum value of 50%, to ensure that at least half of the active stake participates in a governance decision in order for it to be valid. Before weighing in further on this, I want to pose a question...

Is it pos

[2020-04-27 23:59] kyriediculous commented on #16
I agree, but keep in mind that when designing for simplicity using a _minimum acceptance quorum_ would result in a single parameter (from my understanding) instead of two,  `QUORUM` and `THRESHOLD` , I believe the relation between the two to leads to confusion most often. So having a single parameter could actually simplify the system. I don't believe renaming to  `QUOTA` fixes that.

That depends

[2020-04-28 10:17] kyriediculous opened #25 "LIP-25: Extensible Governance Contract"
# Extensible Governance Contract

## Abstract

This proposal describes an extensible governance system that can be used to update the parameters and code of the Livepeer protocol smart contracts and establish a basis for a clear upgrade path for the governance system to give stakeholders control over the system.

## Motivation

At the moment, a core developer owned multisig has admin privileges ov

[2020-04-28 16:37] chrishobcroft commented on #16
### Consensus Point

I also agree that we should make this as simple as possible to communicate.

### Equally Simple

I propose however, that these 2 concepts are equally simple to communicate, irrespective of how each is labelled:

1. minimum percentage that needs to vote in a poll in order for a result to be executed

2. minimum percentage that needs to vote _yes_ in a poll in order for a result

[2020-04-28 16:50] chrishobcroft commented on #16
We are also yet to hear anything from @ericxtang @f1l1b0x @adamsoffer @yah7a @j0sh @darkdarkdragon @angyangie @iameli @ya7ya @ppunktw @chris-remus @r

I would love to know what they're all thinking :)

[2020-04-28 18:04] dob commented on #16
Good questions from @js0n

First of all, I'll note that no slashing is being proposed as part of this initial proposal. The mechanism, and incentives, aligned with requiring participation would be designed and proposed separately, at which point answers to your question would be made clear by the proposal. Some ideas though...

* The cost of the poll creation should be enough of a disincentive to

[2020-04-28 22:51] yondonfu commented on #16
@kyriediculous

I think using minimum acceptance quorum as the sole parameter would only work if the minimum acceptance quorum is > 50%. Otherwise, you could end up with a scenario where the minimum acceptance quorum is met, but the majority of stake shows up and votes no. For example, suppose the minimum acceptance quorum is 30% and it is the sole parameter. Then, if 30% of stake votes yes and 70

[2020-04-29 00:04] yondonfu commented on #16
@kyriediculous

I think using minimum acceptance quorum as the sole parameter would only work if the minimum acceptance quorum is > 50%. Otherwise, you could end up with a scenario where the minimum acceptance quorum is met, but the majority of stake shows up and votes no. For example, suppose the minimum acceptance quorum is 30% and it is the sole parameter. Then, if 30% of stake votes yes and 70

[2020-04-29 06:03] chrishobcroft commented on #16
@kyriediculous

This isn't true. When using `QUORUM` defined as _"minimum percentage that needs to vote yes in a poll in order for a result to be executed"_ you still need _both_ parameters: `QUORUM` and `[THRESHOLD/QUOTA]`.

It is still necessary to define a `[THRESHOLD/QUOTA]` (e.g. of 50%) so that in cases where the `QUORUM` is set to less than 50% (e.g. 40%), then it makes it explicit that a v

[2020-04-29 10:53] chrishobcroft commented on #16
**First**, can I request that we don't refer to either option as a "quorum + quota based system" as I find it confusing when all options under discussion involve a "quorum" and a "quota".

Personally, I will continue to refer to the two definitions that have been proposed for "quorum", which while subtlely different in words, result in fundamentally different mechanics and opportunities.

Definiti

[2020-04-29 14:45] kyriediculous commented on #16
I think this is a noble goal to have although I would change "stake" to "stakeholders" perhaps. It is unclear at this point whether a binding voting system in the future will consist out of only tokenholders or not.

That leads me to my second point. Any design consideration in this milestone for a non-binding voting system is unlikely to be part of the end stop for Livepeer governance. It is a ce

[2020-04-29 20:43] dob commented on #16
Thanks @kyriediculous. I'd be on board with your ultimate conclusions. To quickly address a couple other points:

* I think the "boardroom corporate governance" paradigm vs the "distributed systems paradigm" is too narrow of a phrasing of the two concepts. Instead it is a human-centric voting paradigm (rooted in all the research and studies of human voting systems) vs a distributed systems definit

[2020-05-03 20:19] criticaltv commented on #16
@dob

This is not true.

1. It is possible to operate with a quota, plus a requirement to only pass a quorum defined as "minimum % of all stake that needs to vote yes in a poll in order for a result to be executed" (or as you term is MAQ). In fact, any DAO created using Aragon's DAO framework works like this.

2. It is indeed also possible to operate with a quota, plus a) a requirement to pass a q

[2020-05-05 14:28] yondonfu commented on #16
LIP-16 has just been assigned the Proposed status (via #26) which means the LIP is ready to be the subject of a poll.

Based on the latest discussion in this thread, it appears requiring a quorum vs. a minimum acceptance quorum (MAQ) is still the remaining point of disagreement. @chrishobcroft and @criticaltv are still in favor of requiring a MAQ instead of a quorum while the rest of the participa

[2020-05-05 14:29] yondonfu commented on #15
LIP-15 has just been assigned the Proposed status (via #27) which means the LIP is ready to be the subject of a poll.

[2020-05-26 14:53] yondonfu commented on #15
LIP-15 has been assigned the Final status (via #29).

[2020-05-26 14:53] #15 closed

[2020-05-26 14:54] yondonfu commented on #16
LIP-16 has been assigned the Final status (via #29).

[2020-05-26 14:54] #16 closed

[2020-05-27 20:03] dob commented on #25
Is it safe to say that this proposed implementation is entirely generic and there is nothing at all Livepeer protocol specific? (A good thing). Abstracted, it is essentially an owner-updated ACL with logic for proposing staged updates and them batching (or not batching) the execution of them.

One thing that would be important to think through is whether an upgrade mechanism for this contract itse

[2020-05-27 22:04] kyriediculous commented on #25
That is entirely correct.

I think you describe it well. The process for upgrading this contract would be entirely the same as for instantiating this one in the first place as that requires no additional engineering work. After the entire LIP process we would just have to change the `Controller` owner.  For upgrades this can be a binding voting contract in the future. Because of the sensitive natu

[2020-05-28 15:06] yondonfu commented on #25
This is great! Thanks for writing this up. I've categorized my feedback by section below.

Is the proposed name for the governance contract `ACL`? In my mind, an ACL wouldn't perform actions and the governance contract itself is not an ACL, but it *has* an ACL. What do you think about calling it the `Governor`?

## Access Control List

In this section's diagram, I think the following functions are

[2020-06-08 12:20] kyriediculous commented on #25
Sure, haven't settled on naming.

From the prototype btw:

[code]

I will create a new issue for this separate discussion before submitting a PR for this draft LIP.

[2020-06-09 15:34] kyriediculous opened #30 "Extensible Governance Contract: Initial Parameters"
## Abstract

LIP #25 lays out the design specification for an extensible governance system through which different 'actors' can govern the Livepeer protocol.

As [this section] in LIP #25 describes, there's two initial values that need to be set

- The initial _owner_
- The `DELAY` for the first actor, if applicable

It's established already that the first actor of this governance system will be t

[2020-06-09 16:54] dob commented on #30
Let's use a term other than *master* for the primary actor. Either *owner* or *primary* would be candidates. Open to another suggestion as well.

[2020-06-09 18:39] kyriediculous commented on #30
I think `owner` would be most accurate 👍 . I updated the OP.

[2020-06-11 15:54] dob commented on #30
What's the logic behind the 1.5x unbondingLockPeriod? Anyone has approximately 3.5 days to observe a pending change, initiate their exit, and then exit the system before the change goes into effect?

[2020-06-23 00:13] kyriediculous commented on #25
The current spec for LIP-25 includes an access control list. In subsequent [LIP calls ](https://github.com/livepeer/community-governance/issues?q=is%3Aissue+is%3Aclosed) the usage of Role Based Access Control (RBAC) was discussed over the current proposal which describes an Address Based Access Control mechanism but isn't exclusive to one or the other.

Let's however reconsider the requirements fo

[2020-06-24 22:52] kyriediculous commented on #30
Considering the reduction in complexity for LIP-25 as described in this comment https://github.com/livepeer/LIPs/issues/25#issuecomment-647831655 , I'm closing down this issue. The proposal remains the same for the value `1.5x unbondingPeriod` but can now be considered in scope for the LIP-25 discussion.

The value itself doesn't seem to be a contentious topic as long as stakeholders have sufficie

[2020-06-24 22:52] #30 closed

[2020-07-01 21:56] viktorbunin opened #34 "InflationChange Parameter Update"
lip: To Be Assigned
title: InflationChange Parameter Update
author: Viktor Bunin (@viktorbunin)
type: Parameter
status: Draft
created: 2020-07-01
---

## Abstract

This proposal describes a change to the `inflationChange` parameter of the Livepeer protocol.

## Specification

The `inflationChange` parameter is the rate at which the inflation rate decreases every round (day) while the staking rate

[2020-07-04 13:46] kyriediculous commented on #34
Thanks for writing this up, very well considered arguments and I like the fact that there's both pro's and contra's provided.

I think it's safe to say that I haven't been a fan of prolonging or changing inflation from the start.

**Argument 1**

While Livepeer's economic model isn't based around trying to be money it is important to have a robust and preferably unchanged monetary policy whenever

[2020-07-06 21:58] yondonfu commented on #34
While the contract implementation changes required to allow setting the `inflationChange` parameter to a value that represents 0.00005%/round would be doable, it does expand the scope of work required for this proposal to include:

- Updating the Solidity math library to support more decimal places of precision [1]
- Testing the updates to the Solidity math library
- A review process for the updat

[2020-07-07 22:36] kylesamani commented on #34
Viktor

Thanks for proposing this change. This is good thinking.

I think they way I look at this is to look at other protocols that took longer than expected to incubate. The most obvious example of this is Synthetix ($SNX). After they pivoted from Havven to Synthetix, they realized that they needed to reward their early community members who stuck by them through the depths of the bear market. S

[2020-07-08 02:31] kyriediculous commented on #25
There were quite a few changes recently to the original spec.

- Removal of ACL structure
- Delay is now social convention
- Implementation changes
- API changes

Underneath is the latest version of the spec

_____________

---
lip: 25
title: Extensible Governance Contract
author: Nico Vergauwen (@kyriediculous) <nico@livepeer.org>
type: Standard
status: Draft
created: 2020-06-09
discussions-to: h

[2020-07-08 11:59] viktorbunin commented on #34
Thank you for your feedback @kyriediculous! Really appreciate hearing from you.

The goal of this proposal is to prevent the “near certainty of a detrimental outcome” that we can already anticipate. If left unchanged, infrastructure providers will not just gradually stop running nodes. Many folks will begin operating at a loss at around the same time and will likely choose to start bringing their

[2020-07-08 12:01] viktorbunin commented on #34
Hi @yondonfu, thank you for your response! Yes, please see below for all of my scenario analyses.

![image](https://user-images.githubusercontent.com/32314168/86916131-19c1bd00-c0f1-11ea-9f6f-b101e2b4463a.png)

I considered updating `inflationChange` to 1, but because it only prolongs the timeline by 7-9 months, I think it is not sufficient for fees to pick up to a substantial enough degree to sus

[2020-07-08 12:03] viktorbunin commented on #34
Thank you very much for your feedback @kylesamani. I see the relevance of the analogy to Synthetix. I do think Livepeer is in a similar situation. The tech works, it’s really cool, and it makes a ton of sense. The biggest question is when adoption will pick up.

“Is this enough? What else can we do?” Yes. These questions are probably relevant for both supply and demand. But it may not make sense t

[2020-07-08 15:08] nchirls commented on #34
Hi Everyone - Been interesting to follow this discussion.

A question, particularly for @viktorbunin @yondonfu - In thinking about the possibility that this may not be the last change to the rate of inflation (although I do think these changes should be far and few between and only when the community deems absolutely necessary) - Are the proposed changes both from a community standpoint and techni

[2020-07-08 21:19] dob commented on #34
As this is a proposal that clearly involves some strong opinions on either side, I thought it would be helpful to remind everyone of [The Livepeer Governance Founder's Statement](https://github.com/livepeer/wiki/blob/master/GOVERNANCE-FOUNDERS-STATEMENT.md), which attempts to clarify the principals that should be prioritized in making decisions that govern the network.

In this case, there are a c

[2020-07-09 11:23] ppunktw commented on #34
First of all, thank you Viktor for the proposal!
Overall, I agree that Livepeer is currently no in a state where removing the LPT subsidies would be beneficial for the network (arguments can be found here: https://forum.livepeer.org/t/lpt-inflation-vs-eth-rewards-from-transcoding/1081). As far as I can tell, the main counter argument is that Livepeer should not keep subsidizing CPU transcoders sin

[2020-07-10 01:38] kyriediculous commented on #34
Here are my takeaways after today's LIP call and I actually feel there's some separate topics but only one of them is in scope here (number 2)

- The sentiment is that the current Livepeer monetary policy of high inflation volatility and a 50% participation rate threshold could prove to be problematic and that better parameters are required.

- The inflation dropping to 0% and insufficient demand

[2020-07-10 17:57] nchirls commented on #34
@kyriediculous I think this is a really thoughtful summary. And I too agree that it's worth giving it some more time and discussing options once we have more data about how the network is operating as additional demand comes onto the network, hopefully in the coming quarters. Making quick decisions / changes based on the many possible outcomes at this stage feels somewhat premature.

[2020-07-10 20:32] yondonfu opened #35 "LIP-36: Cumulative Earnings Claiming"
This is the discussion thread for [LIP-36: Cumulative Earnings Claiming](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-36.md) which proposes a more efficient earnings calculation algorithm that would reduce gas costs and improve the user experience of earnings claiming. The draft was recently [merged](https://github.com/livepeer/LIPs/pull/36). All feedback is welcome! All reviewers should

[2020-07-14 00:36] yondonfu commented on #25
Regarding the `transferOwnership()` function:

I think this should be triggered via a stage + execute process similar to other updates. One way to do this is to require the caller of the function to be the Governor itself (which would be the case when the function is called via `execute()`). Note this approach would not work if the Governor inherits from the OZ Ownable contract and would require a

[2020-07-14 13:59] kyriediculous commented on #25
1. Having the `transferOwnership` take place through the upgrade system itself could be a good idea.

2. Yeah you're right that with signature based auth in the current scheme that wouldn't be possible. Would be okay using sender based authentication here. At first it would seem cool that anyone could submit updates signed by the owner of the Governor, retrospectively that seems rather weird.

3.

[2020-07-16 17:58] yondonfu commented on #34
To better understand the technical requirements for this proposal, I've created a preliminary implementation in a [fork](https://github.com/yondonfu/protocol/tree/inflation-change-precision) and the code diff can be viewed [here](https://github.com/livepeer/protocol/compare/yf/fix-solidity-test-runner...yondonfu:inflation-change-precision).

## Implemention

A summary of the important changes:
- A

[2020-07-16 18:06] yondonfu commented on #34
@nchirls

Depends on what type of change to the inflation rate is desired. The changes required to support Viktor's proposal would also make it easier to decrease the inflation change parameter to a value lower than the proposed value of .00005% if ever needed - so, if the future desired change is just an update to the inflation change parameter it would likely not require any technical changes (i

[2020-07-17 20:20] nchirls commented on #34
Hi All - Appreciate all the good thoughts and discussion here. Perhaps it's worth summarizing / narrowing down the issues so that at some point there can be a community vote.

As far as I see it, there are two major items that need consensus and eventually a vote:

1. If changes need to be made to the inflation rate to incentivize ongoing participation, what are the most effective ways to do that,

[2020-07-21 22:45] viktorbunin commented on #34
Thanks again for your feedback @kyriediculous! My answers are below.

Unless there is a clear path for the participation rate to fall below the target staking rate (a mammoth decrease of 17% of total LPT), it is highly likely that the rate will fall to zero. For reference, we have never seen that rate of unbonding on any network that is not failing.

This is not accurate. Inflation compensates inf

[2020-07-21 22:48] viktorbunin commented on #34
Happy to @nchirls! I have considered changing the target participation rate instead, but believe that will be more harmful to the network than the current proposal.

There is an abundance of evidence that the **staking rate does not meaningfully respond to changes in inflation**. Most token holders are long term holders and there is very little liquidity for Livepeer. This means that we are likely

[2020-07-21 23:47] yondonfu opened #40 "LIP-40: Minter Math Precision"
This is the discussion thread for [LIP-40: Minter Math Precision](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-40.md) which proposes an increase in the number of decimal places of precision supported in the percentage math operations of the Minter contract. The draft was recently [merged](https://github.com/livepeer/LIPs/pull/41). All feedback is welcome! All reviewers should refer to the

[2020-07-22 02:29] viktorbunin commented on #34
A small, but important, update: this proposal has been split in two thanks to thoughtful feedback from the community.

### Parent
- [LIP-35: inflationChange Calculation and Parameter Update](https://github.com/viktorbunin/LIPs/blob/LIP-35/LIPs/LIP-35.md)

### Bundle
- [LIP-34: InflationChange Parameter Update](https://github.com/viktorbunin/LIPs/blob/LIP-34/LIPs/LIP-34.md)
- [LIP-40: Minter Math P

[2020-07-22 16:32] chris-remus commented on #34
@viktorbunin thanks for this proposal. I haven't read through the entire thread in detail, yet feel like I read enough to get the general tone. I also recognize I'm a bit late to the conversation.

That being said, rather than tie inflationary rewards to only % staked, why not consider tying it to transcoding activity on the network?

cc: @dob @yondonfu

[2020-07-22 23:28] yondonfu commented on #40
LIP-40 has just been assigned the Last Call status which kicks of a 10 day Last Call period for any remaining feedback before it will be assigned the Proposed status.

[2020-07-22 23:30] yondonfu commented on #34
LIP-34 (this LIP for this discussion thread) has just been [assigned the Last Call status](https://github.com/livepeer/LIPs/pull/43) which kicks of a 10 day Last Call period for any remaining feedback prior to the LIP being assigned the Proposed status.

[2020-07-23 18:02] viktorbunin commented on #34
My initial reaction is that this seems like a very big change and would require a lot more research. It is not obvious to me that it is better to have inflationary rewards tied to work performed (transcoding) rather than the ability to perform work (i.e., staking). I'm happy to chat further on this, but for the purpose of this LIP discussion, one of my goals it to implement a smaller, surgical fix

[2020-07-28 14:15] dob commented on #40
In the proposal, there is a step where the new minter is registered with the controller and then a function is invoked to migrate the funds from the old minter to the new minter. Although low probability, is there a timing issue at play here?

If the new minter is registered, and then someone calls reward before the migration txn has occurred, does anything get screwed up with the accounting in th

[2020-07-28 16:23] yondonfu commented on #40
Regardless of whether the migration tx has been executed or not, the reward caller would receive 0 tokens because the `currentMintableTokens` state variable in the new Minter will be 0 until the next round is initialized. As a result, when reward is called before the next round is initialized, the calculated [reward to mint would be 0](https://github.com/livepeer/protocol/blob/826af1124f645a819b54

[2020-07-29 14:35] bsparango commented on #34
Considering the circumstances the Livepeer network is currently in, it is apparent to me that @viktorbunin's proposal is the correct path forward at this point in time.

It's clear that we need to extend the runway of supply side incentivization to allow us enough time for the demand side to catch up. Without supply side inflation incentives, the economics of the protocol simply don't work for Orc

[2020-07-29 18:30] yondonfu commented on #40
Follow up on the above comment:

This actually is not possible. I considered 2 ways to use a delegatecall proxy:

1. Controller owner -> proxy which delegatecalls `setContractInfo()` on the Controller and `migrateToNewMinter()` on the old Minter

2. Controller owner -> proxy which delegatecalls a script contract which calls `setContractInfo()` on the Controller and `migrateToNewMinter()` on the ol

[2020-08-04 21:37] yondonfu commented on #40
#47 contains an update to the LIP noting that the `depositETH()` function on the new `Minter` contract needs to be callable when the `Controller` is paused in order to allow the old `Minter` to transfer ETH to the new `Minter`.

[2020-08-05 01:49] yondonfu commented on #40
This LIP has been assigned the Proposed status in #48. Since it is bundled in [LIP-35](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-35.md), it can be voted on as a part of that bundle when a poll is created for LIP-35.

[2020-08-05 01:50] yondonfu commented on #34
LIP-34 has been assigned the Proposed status in #49 and LIP-35 has been assigned the Proposed status in #46. Since LIP-34 is bundled in LIP-35, it can be voted on as a part of that bundle when a poll for LIP-35 is created.

[2020-08-06 14:02] dob commented on #35
What do you think about including a community approved pendingStake snapshot as part of this LIP in order to make an O(1) cost claim txn available for all past rewards up until the block that this new go-forward method becomes active? My thought is that it could work as follows:

* A snapshot of the pendingStake of all active D's and O's could be taken during a specified future deploy round, as ap

[2020-08-12 18:41] dob opened #52 "LIP-52: Snapshot for claiming earnings"
---
lip: \<to be assigned\>
title: PendingStake Snapshot and ClaimPastEarnings
author: Doug Petkanics (@dob)
type: Standard Track
status: Draft
created: 2020-08-12
discussions-to: [http://github.com/livepeer/LIPs/issues/52](http://github.com/livepeer/LIPs/issues/52)
---

## Abstract

This issue proposes snapshotting the pendingStake values for each delegator account at a specific block height (and

[2020-08-12 18:42] dob commented on #35
Moved the discussion for the snapshot proposal into https://github.com/livepeer/LIPs/issues/52

[2020-08-13 19:10] yondonfu commented on #35
@kyriediculous recently brought up two accounting edge cases:

**Issue 1**: If an orchestrator redeems ticket 1 with `creationRound = N` and *then* ticket 2 with `creationRound = N - 1`, then the fees for ticket 2 would be lost. This is because currently the cumulativeFeeFactor for round N is initialized when the first ticket is redeemed for round N and based on the cumulativeFeeFactor for round N

[2020-08-13 20:37] yondonfu commented on #52
Since the snapshot is also associated with a specific round, the snapshot could be calculated at the start of that round (i.e. upon initialization) which would remove the need to specify a block number (it would be implied by the round). Let's call this round LIP_52_SNAPSHOT_ROUND. Then, any delegator could use the snapshot to claim all earnings up to (but not including) LIP_52_SNAPSHOT_ROUND.

Th

[2020-08-13 22:36] kyriediculous commented on #52
I really like this proposal and it can work well complementary to LIP-36. A few comments:

1. pending fees would also have to be considered in scope for the snapshot and in case of a merkle root would have to be part of the proof.

2. The submitted proof to `claimEarnings` can be an optional argument. If it's not provided we could still default to the old looping workflow up until the LIP-36 upgra

[2020-08-13 23:02] kyriediculous commented on #35
I like the optimisation very much as it saves quite a bit of gas, it achieves the same result while also falling under the constraint that that approach only works when implementing solution 1 as well.

Since we are in agreement about these changes I think we can move forward with the implementation of these changes in LIP-36.

[2020-08-14 13:15] yondonfu commented on #25
This LIP has just been [assigned the Last Call status](https://github.com/livepeer/LIPs/pull/53) which kicks of a 10 day Last Call period for any remaining feedback prior to the LIP being assigned the Proposed status.

[2020-08-14 15:24] dob commented on #52
@kyriediculous

Are you suggesting that the existing function signature and code for claiming would continue to live and be supported? If so this solves the backwards compatibility issue with any existing clients that wrap the current claim path.

[2020-08-14 15:29] kyriediculous commented on #52
The signature would likely take additional arguments (the proof , which can be a single struct argument) but the code path would very much still exist.

Clients would have to do a minor update to support that.

Alternatively we could just create a separate function  that allows claiming up until (and only up until) the LIP_36_ROUND/LIP_52_SNAPSHOT_ROUND through a merkle proof and keep the existing

[2020-08-14 16:36] kyriediculous commented on #35
One thing to note:

The current API for updating fees is

[code]
    function updateTranscoderWithFees(
        address _transcoder,
        uint256 _fees
    )
[code]

[2020-08-14 21:22] yondonfu commented on #35
I think we should keep the same function signature for `updateTranscoderWithFees()` so that we can avoid upgrading the TicketBroker. I don't think the tiny gas reduction from updating the function signature is worth the extra operational burden from introducing an additional contract upgrade.

[2020-08-18 13:48] yondonfu commented on #40
This LIP has been assigned the Accepted status as a result of the [LIP-35 poll](https://explorer.livepeer.org/voting/0xb138fbef9d66b032e6e60bb74c9e587eb454828a).

[2020-08-18 13:49] yondonfu commented on #34
LIP-34 and LIP-35 have been assigned the Accepted status as a result of the [LIP-35 poll](https://explorer.livepeer.org/voting/0xb138fbef9d66b032e6e60bb74c9e587eb454828a).

[2020-08-18 21:32] yondonfu commented on #40
This LIP has been assigned the Final status as the relevant changes have been deployed in an upgrade.

[2020-08-18 21:32] #40 closed

[2020-08-18 21:34] yondonfu commented on #34
LIP-34 and LIP-35 have been assigned the Final status as the the inflationChange parameter has been updated to .00005% (stored as 500 out of 1000000000 in the contract which can be viewed [here](https://etherscan.io/address/0x505f8c2ee81f1c6fa0d88e918ef0491222e05818#readContract)).

[2020-09-02 09:20] chrishobcroft commented on #52
I have only one question: how will a Delegator validate whether the value in the snapshot is accurate per the `pendingStake` onchain, so that they know which way to vote in the poll?

[2020-09-02 09:39] kyriediculous commented on #52
By either

(1) reconstructing the merkle tree itself and checking merkle roots match

Involves calling `pendingStake(delegator, snapshotRound)` and `pendingFees(delegator, snapshotRound)`  for each delegator

(2) reconstructing its own leaf and  required proof leafs to see that the proof is valid for the given merkle root in the proposal

A delegator should do (2) either way before submitting the

[2020-09-03 13:39] yondonfu opened #56 "LIP-56: Reward Period"
This is the discussion thread for [LIP-56: Reward Period](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-56.md) which proposes introducing a reward to reduce the frequency of reward calls and the overall costs incurred by orchestrators that are responsible for calling reward. The draft was recently [merged](https://github.com/livepeer/LIPs/pull/57). All feedback is welcome! All reviewers sh

[2020-09-04 01:07] yondonfu commented on #35
This LIP has just been [assigned the Last Call status](https://github.com/livepeer/LIPs/pull/58) which kicks of a 10 day Last Call period for any remaining feedback prior to the LIP being assigned the Proposed status.

[2020-09-04 01:27] yondonfu commented on #52
A [draft LIP](https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-52.md) has been created containing updates to the original post. The contents of the draft LIP should be used as the basis for further discussion.

[2020-09-04 01:27] yondonfu commented on #52
I don't think the following is a strict requirement, but I was thinking about ways to improve the UX for a delegator and it would be nice if 1) claiming from the snapshot does not need to be a distinct action and a delegator can just do it when it also needs to perform a staking action 2) claiming from the snapshot and performing a staking action could  be done with a single tx. If both of these p

[2020-09-04 15:27] yondonfu commented on #56
Yes.

The current approach in the LIP is the easiest way to accumulate rewards during the reward period based on the per round inflation rate that I can think of at the moment. Will have to think a bit more about whether there is a reasonable alternative to avoid the scenario you describe.

[2020-09-04 15:37] dob commented on #56
Without opening a can of worms into "what any unclaimed LPT should be used for", it might make sense simply to add a mechanism to this LIP to appropriately account for permanently unclaimed LPT. Then in a future LIP, the community could access that unclaimed LPT for a specific purpose (like dev fund, or burn, etc).

Maybe the way to account for it is to enable a transaction that simply updates an

[2020-09-04 16:02] kyriediculous commented on #56
After looking through the spec and the draft implementation I'm not entirely sure still how stake updates are handled within a single `rewardPeriod`.

An orchestrator's stake could still increase within a given `rewardPeriod` and currently we do not account that rewards before that update should not be calculated according to the new updated stake because we only do the calculation at the end.

Fo

[2020-09-04 16:09] kyriediculous commented on #56
Perhaps it could be a good idea to describe the potential user outcomes in the test scenario's in plain english, some examples:

- If a user calls `reward()` for a round for which `roundsManager.currentRoundIsRewardRound() == false` , the call should revert.

- If a user fails to call reward() for the `rewardPeriod (1)` in the `nextRewardRound.sub(1)` for which `roundsManager.currentRoundIsRewardR

[2020-09-04 16:20] kyriediculous commented on #56
One solution I think is to assume that all LPT minted during the `rewardPeriod` is stake that will participate (IIUC this will keep the participation rate as is) , then we can keep track how much LPT is unclaimed for during the actual reward Round and upon the next round initialisation do the actual accounting ?

What  exactly should happen to  the "leftover" LPT other than burning  the leftover u

[2020-09-04 16:41] dob commented on #56
Yah, I agree that the scope of what **could** happen is huge and probably shouldn't be discussed within this LIP. Good idea to handle the accounting (or burning) in the next initRound txn, which would mean that there isn't a growing pool of unaccounted for LPT.

[2020-09-04 18:10] kyriediculous commented on #52
I don't think we need the additional field, we can just call `updateDelegatorWithEarnings` internally with `_lastClaimRound` being the `snapShotRound` (i.e. `roundsManager.LIPUpgradeRound(52)` )  and `_endRound` being `currentRound.sub(1)` (or we can add an additional `_endRound` argument to this method).

[2020-09-04 18:36] yondonfu commented on #52
`updateDelegatorWithEarnings()` would need to have access to the earnings proof in order to claim from the snapshot. This would require all staking functions (i.e. bond, unbond, etc.) to accept the earnings proof as a parameter if we want to support claiming from the snapshot + executing a staking function in a single tx.

[2020-10-06 20:23] daf1984 commented on #35
Hi, I can't Claim my Earnings. Fail with error "too many rounds to claim through".

TXID:

https://cn.etherscan.com/tx/0xca328a9820cb93ca4347dc172a24e14ddb9e8f45bbe00366813d62f6013cfa2f

[2020-10-06 20:30] yondonfu commented on #35
Hey @daf1984 while LIP-36 (described in this discussion thread) has been deployed meaning that claiming future earnings will no longer be subject to the "too many rounds to claim through" restriction, you will still be subject to this restriction for claiming *past* earnings which is why you encountered that error when you submitted your transaction. If you can wait, I suggest you vote in the LIP-

[2020-10-06 20:31] yondonfu commented on #35
Closing this thread since LIP-36 has been deployed and marked [Final](https://github.com/livepeer/LIPs/pull/65).

[2020-10-06 20:31] #35 closed

[2020-10-06 20:31] yondonfu commented on #34
Closing this thread since LIP-40 has been marked Final.

[2020-10-06 20:31] #34 closed

[2020-11-14 00:12] yondonfu commented on #25
A delay that is 1.5x the unbonding period feels a bit long to me. If the purpose of the delay is to give stakers an opportunity to liquidate their stake if they disagree with an accepted proposal then I think an additional round after the unbonding period should be sufficient.

Separately, I want to acknowledge the minimum total time required for a LIP to go from Draft to Final that results from t

[2020-11-17 02:38] kyriediculous commented on #56
A bit late, but I mentioned during the last LIP call that I would share my design for LIP-56 publicly so here it is

_____________

# LIP-56 Reward Period

## Abstract

This proposal introduces a reward period which can reduce the frequency of reward calls (reward distribution transactions) and the overall costs incurred by orchestrators that are responsible for calling reward.

## Motivation

##

[2020-11-18 17:13] dob commented on #25
Note that there was a 3rd party security review conducted by @nachomazzara. His notes are here: https://gist.github.com/nachomazzara/8ed11e628d77ebb59a155643c2cd7fd4

[2020-11-24 04:55] chrishobcroft commented on #56
@kyriediculous thank you for putting this together - with gas prices seemingly growing again, and LPT market value falling, this is becoming more important.

For me, it would be good to see at least something written up for the "Motivation" for this design, to be able to understand whether we are aligned on this.

What are the next steps for this?

[2021-01-06 22:15] yondonfu commented on #25
Closed by #70

[2021-01-06 22:15] #25 closed

[2021-01-06 22:15] yondonfu commented on #52
Closed by #66

[2021-01-06 22:15] #52 closed

[2021-02-08 20:00] yondonfu opened #71 "a"

[2021-02-08 20:00] #71 closed

[2021-02-16 23:48] kyriediculous commented on #56
Added a motivation and made some corrections to the spec.

Also still have to come up with a proper algorithm for step 4 in the new `reward()` logic.

[2021-02-24 22:21] yondonfu commented on #56
This LIP has just been assigned the [Last Call status](https://github.com/livepeer/LIPs/pull/72) which kicks of a 10 day Last Call period for any remaining feedback prior to the LIP being assigned the Proposed status.

[2021-02-25 02:15] yondonfu commented on #56
Summary of a recent discussion with @kyriediculous:

It will be difficult to do the accounting required to distribute rewards to delegators on a round by round basis without also increasing gas costs substantially and the easier thing to do might be to only distribute rewards to delegators that are delegated to an orchestrator for the entirety of a reward period. This results in a less dynamic del

[2021-03-02 23:20] yondonfu commented on #56
**Reward calls from the past 90 days**

![newplot](https://user-images.githubusercontent.com/5933273/109726505-d97fe500-7b80-11eb-9dd7-c536a6142d97.png)
[Source: DuneAnalytics](https://explore.duneanalytics.com/queries/21517#44428)

The above chart plots the # of reward calls in each round and the average USD tx cost for a reward call in each round.

Observations:

- The highest # of reward calls

[2021-03-11 18:03] kyriediculous commented on #56
Third iteration of the design : https://hackmd.io/GxpinLeJSeOo6xX3bCJJkQ?view

# LIP-55 InflationManager

## Abstract

This proposal aims to seperate the current `Minter` contract into two separate contracts.
- The `InflationManager`, responsible for handling all inflation related logic
- The `Minter` acts as the owner of the `LivepeerToken` and is the only entity allowed to mint tokens. It also h

[2021-03-16 14:52] yondonfu commented on #56
Focusing on the LIP-56 design below and putting aside the InflationManager design for the moment.

I'll try to summarize the design in my own words at a high level:

- Transcoders are able to call reward for a previous reward period anytime during the current reward period. So, if the reward period is 7 days, assuming they were active in the previous reward period, transcoders need to wait at leas

[2021-03-16 15:53] kyriediculous commented on #56
I think your high level understanding of the design is on point and I think the way you framed some of the details could definitely help other people understand it as well.

I agree that the current way of accounting introduces some additional complexities, the main one being distinguishing "stake updates" from "reward eligible stake updates". However I think there are some beneficial tradeoffs to

[2021-06-20 12:48] Wisermerill commented on #56
Hello all,

where is your thinking  about the problematic of reward period ? cause for orchestrator like me, with good  performances but very few LPT (and no one stacked from delegator at this point) it's the only hope we have to claim our inflation reward, and, may be, have some delegators stacking on our node.

Thanks,

Cianha

[2022-03-16 18:11] chrishobcroft opened #82 "Reduce `POLL_CREATION_COST`"
Also raised here: https://forum.livepeer.org/t/lip-reduce-poll-creation-cost/1777

## Abstract

The Polling system for LIPs involves a `POLL_CREATION_COST` parameter, which determines the cost, denominated in Livepeer Token (LPT), which is payable for each poll created for an LIP.

This parameter is currently `100`, meaning that 100 LPT must be provided in order for a vote to be created. Once prov

[2022-04-02 09:20] chrishobcroft commented on #82
Closing due to the provision made as part of LIP-73, detailed here: https://github.com/livepeer/LIPs/blob/master/LIPs/LIP-73.md#l2-governance

[2022-04-02 09:20] #82 closed